body {
    margin:20px;
    background-color: black;
}

p {
    font-family: 'Consolas', monospace;
    font-size: 20px;
    position: absolute;
    top: 300px;
    left: 30px;
    transform:rotate(-10deg);
}

/* triangle */
div {
    width: 0;
    height: 0;

    margin-left: 20%;  /*positioning the triangle */
    margin-top: 50px;   /*positioning the triangle */
    transition: 3s ease;
}

.class1 {
    transform:rotate(10deg);
    border-left: 350px solid transparent;
    border-right: 550px solid transparent;
    border-bottom: 550px solid white;
}

.class2 {
    transform:rotate(140deg);
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 450px solid white;
    margin-top: 300px;   /*positioning the triangle */
}

.class3 {
    transform:rotate(260deg);
    border-left: 400px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 600px solid white;
    margin-top: 120px;   /*positioning the triangle */
}

/* images */
img {
    transform:rotate(-10deg);
}

a {
    transition: 1.5s ease
}

.P1 {
    height: 120px;
    width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.P2 {
    height: 120px;
    width: 90px;
    position: absolute;
    top: 360px;
    left: 240px;
}

.P3 {
    height: 120px;
    width: 80px;
    position: absolute;
    top: 200px;
    right: 90px;
}

.P4 {
    height: 120px;
    width: 100px;
    position: absolute;
    top: 450px;
    right: 40px;
}

/* .classP1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.classP2 {
    position: absolute;
    top: 360px;
    left: 340px;
}

.classP3 {
    position: absolute;
    top: 200px;
    right: 90px;
} */